<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header (pageTitle)" >
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<title th:text="${pageTitle}">Ispindel EndPoint</title>
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />  -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/navigationbar.css">
	<script src="/js/navigationbar.js"></script>
</head>
