<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header (pageTitle='Brew Session')"/>
<body>
	<div class="container">
	
		<div th:replace="fragments/navigationbar  :: navigationbar (activeTab='sessions')" th:remove="tag"></div>
			<div class="row">
				<div class="col">
				<div id="accordion">
					<div class="card" th:if="${not #lists.isEmpty(openSessions)}">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse"
									data-target="#collapseOne" aria-expanded="true"
									aria-controls="collapseOne">Running sessions</button>
							</h5>
						</div>
						<div id="collapseOne" class="collapse show"
							aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">
							<div class="d-none d-lg-block">
							    <table id="historyTable" class="table">
							      <thead>
							        <tr>
							          <th>#</th>
							          <th>Name</th>
							          <th>Spindel</th>
							          <th>Start Date</th>
							          <th>Actions</th>
							        </tr>
							      </thead>
							      <tbody>
									<tr th:each="item, rowStat: ${openSessions}" th:style="${rowStat.odd} ? 'color: gray' : 'color: white;'">
						              <td th:text="${item.id}">1</td>
						          	  <td th:text="${item.sessionName}">sessionName</td>
						              <td th:text="${item.spindelName}">spindelname</td>
						              <td th:text="${item.startDateTime}">startdate</td>
						              <td>
						              	<a th:href="@{'/stopsession/' + ${item.id}}">	<img src="/images/stop.png" height="24px" width="24px"></img></a>
						              	<a th:href="@{'/graph/' + ${item.id}}">	<img src="/images/diagram.png" height="24px" width="24px"></img></a>
						              </td>										
									</tr>						      
							      </tbody>
							    </table>      							
							</div>
							<div class="d-lg-none">
							    <table id="historyTable" class="table">
							      <thead>
							        <tr>
							          <th>Name</th>
							          <th>Spindel</th>
							          <th>Actions</th>
							        </tr>
							      </thead>
							      <tbody>
									<tr th:each="item, rowStat: ${openSessions}" th:style="${rowStat.odd} ? 'color: gray' : 'color: white;'">
						          	  <td th:text="${item.sessionName}">sessionName</td>
						              <td th:text="${item.spindelName}">spindelname</td>
						              <td>
						              	<a th:href="@{'/stopsession/' + ${item.id}}">	<img src="/images/stop.png" height="24px" width="24px"></img></a>
						              	<a th:href="@{'/graph/' + ${item.id}}">	<img src="/images/diagram.png" height="24px" width="24px"></img></a>
						              </td>										
									</tr>						      
							      </tbody>
							    </table>      													
							</div>							
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseTwo" aria-expanded="false"
									aria-controls="collapseTwo">Start new Session</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
							data-parent="#accordion">
							<div class="card-body">
								<form action="#" th:action="@{/startsession}" th:object="${newsession}" method="post">
									<div class="form-group">
										<label for="sessionName">Session name</label>
										<input class="form-control" id="sessionName" type="text" th:field="*{sessionName}" placeholder="Brew session name"/>
									</div>
									<div class="form-group">									
										<label for="spindel">Spindel for session</label>
										<select th:field="*{spindelId}" class="form-control" id="spindel" aria-describedby="spindelHelp">
											<option value="" th:disabled="disabled" th:selected="selected" >Choose your option</option>
											<option th:each="spindel : ${spindels}"	th:value="${spindel.id}" th:text="${spindel.name}" th:disabled="${spindel.activeBrewSession}">spindel</option>
										</select>
										<small id="spindelHelp" class="form-text text-muted">You can only select spindels not in an active session.</small>
									</div>
									<button type="submit" class="btn btn-primary">Submit</button>
								</form>
							</div>
						</div>
					</div>
					<div class="card" th:if="${not #lists.isEmpty(historySessions)}">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse"
									data-target="#collapseThree" aria-expanded="false"
									aria-controls="collapseThree">Show Session History</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse"
							aria-labelledby="headingThree" data-parent="#accordion">
						  <div class="card-body">
							<div class="d-none d-lg-block">
							    <table id="historyTable" class="table">
							      <thead>
							        <tr>
							          <th>#</th>
							          <th>Name</th>
							          <th>Spindel</th>
							          <th>Start Date</th>
							          <th>End Date</th>
							          <th>Actions</th>
							        </tr>
							      </thead>
							      <tbody>
									<tr th:each="item, rowStat: ${historySessions}" th:style="${rowStat.odd} ? 'color: gray' : 'color: white;'">
						              <td th:text="${item.id}">1</td>
						          	  <td th:text="${item.sessionName}">sessionName</td>
						              <td th:text="${item.spindelName}">spindelname</td>
						              <td th:text="${item.startDateTime}">startdate</td>
						              <td th:text="${item.endDateTime}">enddate</td>
						              <td>
						              	<a th:href="@{'/graph/' + ${item.id}}">	<img src="/images/diagram.png" height="24px" width="24px"></img></a>
						              	<a th:href="@{'/deletesession/' + ${item.id}}">	<img src="/images/delete.png" height="24px" width="24px"></img></a>
						              </td>										
									</tr>						      
							      </tbody>
							    </table>      							
							</div>
							<div class="d-lg-none">
							    <table id="historyTable" class="table">
							      <thead>
							        <tr>
							          <th>Name</th>
							          <th>Spindel</th>
							          <th>Actions</th>
							        </tr>
							      </thead>
							      <tbody>
									<tr th:each="item, rowStat: ${historySessions}" th:style="${rowStat.odd} ? 'color: gray' : 'color: white;'">
						          	  <td th:text="${item.sessionName}">sessionName</td>
						              <td th:text="${item.spindelName}">spindelname</td>
						              <td>
						              	<a th:href="@{'/graph/' + ${item.id}}">	<img src="/images/diagram.png" height="24px" width="24px"></img></a>
						              	<a th:href="@{'/deletesession/' + ${item.id}}">	<img src="/images/delete.png" height="24px" width="24px"></img></a>
						              </td>										
									</tr>						      
							      </tbody>
							    </table>      													
							</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer"></div>
	</div>
	<script src="/js/brewsession.js"></script>
</body>
</html>