<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header (pageTitle='Home')"/>
<body>
	<div class="container">
		<div th:replace="fragments/navigationbar :: navigationbar (activeTab='home')" th:remove="tag"/>
		<div class="row">
			<div class="col">
				<div class="card">
 					<div class="card-body">
 						<img class="card-img-left" src="/images/info.png" alt="Card image cap" height="80px;">
						<span th:text="${reading.spindleName}" style="font-size : 24px;padding-left:25px;"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card">
 					<div class="card-body">
 					<img class="card-img-left" src="/images/time.png" alt="Card image cap" height="80px;">						
						<span th:text="${#temporals.format(reading.dateTime,'yyyy-MM-dd hh:mm')}" style="font-size : 24px;padding-left:25px;"></span>
					</div>
				</div>
			</div>
		</div>		
		<div class="row">
			<div class="col">
				<div class="card">
 					<div class="card-body">
	 					<img class="card-img-left" src="/images/temp.png" alt="Card image cap" height="80px;">			
						<span th:text="${reading.temperature}" style="font-size : 48px;padding-left:25px;"></span> <span style="font-size : 36px;">&#8451;</span>

					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card">
 					<div class="card-body">
 					<img class="card-img-left" src="/images/beer.png" alt="Card image cap" height="80px;">						
						<span th:text="${reading.gravity}" style="font-size : 36px;padding-left:25px;"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card">
 					<div class="card-body">
 					<img class="card-img-left" src="/images/battery.png" alt="Card image cap" height="80px;">						
						<span th:text="${reading.battery}" style="font-size : 36px;padding-left:25px;"></span><span style="font-size : 36px;"> V</span>
					</div>
				</div>
			</div>
		</div>		
		<div th:replace="fragments/footer"></div>
	</div>
	<script src="/js/home.js"></script>
</body>
</html>